<ul>
  <li>idSelect: {{ idSelect }}</li>
  <li>idSelecionado: {{ idSelecionado }}</li>
</ul>

<mat-button-toggle-group name="fontStyle" aria-label="Font Style">
  <mat-button-toggle *ngFor="let no of nos; let i = index" (click)="selecionar(no.id)" [disabled]="i + 1 === nos.length">{{ no?.chave }}</mat-button-toggle>
  <select [(ngModel)]="idSelect">
    <option [value]="null">Itens do {{ nivel }}º nível...</option>
    <option *ngFor="let item of filhos" [value]="item.id">{{ item.descricao ? item.descricao : item.chave }}</option>
  </select>
  <!--select #select (change)="selecionar(select.value)" *ngIf="filhos">
    <option [value]="null">Itens do {{ nivel }}º nível...</option>
    <option *ngFor="let item of filhos" [value]="item">{{ item.descricao ? item.descricao : item.chave }}</option>
  </select-->
  <mat-button-toggle (click)="limpar()"><i class="fa fa-trash text-danger"></i></mat-button-toggle>
</mat-button-toggle-group>
